/* Font Colors */

$base-font-size:15px;
$base-font-family:'Roboto', sans-serif;
$base-font-color:#666666;


/* Background Colors */

$primary-color:#0162a1;
$secondary-color:#31b0d5;
$brand-color: #4f7c11;
$light-color:#fff;
$dark-color:#9fc542;
$button-color:#fa8006;
$black: #000;
$link-color: #435d04;
$black-light: #444444;
$gry-color:#fafaf8;


/* Showcase Area */

$showcase-height:600px;
$showcase-image:'../img/header-bg.jpg';
